<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dealmake.dealmake" version="0.1.0">
    <name>DealMake</name>
    
    <description>
        DealMake.
    </description>
    
    <author email="david@thunkgames.com">
        David Fine
    </author>
    

    
    <preference name="EnableDeveloperConsole" value="true" />
</widget>