<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dealmake.dealmake" version="0.1.0">
    <name>DealMake</name>
    
    <description>
        DealMake.
    </description>
    
    <author email="david@thunkgames.com">
        David Fine
    </author>
    
    <plugin name="tabris-plugin-camera" spec="https://github.com/eclipsesource/tabris-plugin-camera.git" />
    <plugin name="cordova-plugin-geolocation" spec="https://github.com/apache/cordova-plugin-geolocation.git" />
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    
    <preference name="EnableDeveloperConsole" value="true" />
</widget>