<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dealmake.dealmake" version="0.1.0">
    <name>DealMake</name>
    
    <description>
        DealMake.
    </description>
    
    <author email="david@thunkgames.com">
        David Fine
    </author>
    
    <content src="src/package.json"/>
    
    <plugin name="tabris-plugin-camera" spec="https://github.com/eclipsesource/tabris-plugin-camera.git" />
    <plugin name="cordova-plugin-geolocation" spec="https://github.com/apache/cordova-plugin-geolocation.git" />
    <plugin name="cordova-plugin-splashscreen" spec="https://github.com/apache/cordova-plugin-splashscreen.git" />
    <plugin name="onesignal-cordova-plugin" spec="https://github.com/OneSignal/OneSignal-Cordova-SDK.git" />
    <plugin name="cordova-plugin-purchase" spec="https://github.com/j3k0/cordova-plugin-purchase.git" />
    
    <icon src="www/app/ico-dealmake.png" />
    <splash src="www/app/spl-splash.png" />
    
    <preference name="EnableDeveloperConsole" value="true" />
</widget>